/* CSS files --> index.html */
/* (1) Tag Selector */
body{
    background-color: #A5DEE5;   /* Color Palette https://colorhunt.co/ */
}
h1{
    text-align: center;
    font-family: cursive;
    background-color: #E0F9B5; 
}
h2{
    text-align: center;
    font-family: cursive;
    font-weight: normal;
    background-color: #FFCFDF;
}
h4{
    text-align: center;
    font-family: Aclonica;
    font-weight: normal;
}
table{
    width: 100%;
    text-align: center;
    background-color: #FEFDCA;
}
th{
    width: 33.33%; 
    vertical-align: top;
}
/* (2) Class Selector */
.p-Aboutme{
    font-weight:normal; 
    text-align: justify;
}
.p-Name{
    font-weight:normal;
}
.p-Footer{
    text-align: center;
}
/* (3) Id Selector */        
#th-Details{
    text-align: left;
}